div {
    
}



div.keyboard {
    height: 40%;
    max-height: 100px;
    
    width: 95%;
    margin: auto;
    
    bottom: 5px;
    left: 0px;
    right: 0px;
    position: absolute;

    overflow: hidden;

    border: 1px solid #000
}

div.keyboard ul {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    
    position: relative;
    width: 100%;
}

div.keyboard ul li.key {
    list-style: none;
    border-left: 1px solid #000;
    border-right-width: 0;
    display: inline-block;
    
    margin-left: -4px;
}

div.keyboard ul li.key.white {
    width: 4.65%;
    height: 100%;
    
    z-index: 0;
}

div.keyboard ul li:first-child {
    border: none;
}

div.keyboard ul li:last-child {
    border-right: none;
}

div.keyboard ul li.key.black {
    -ms-transform: translate(-50%, 0); /* IE 9 */
    -webkit-transform: translate(-50%, 0); /* Safari */
    transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);

    width: 2%;
    height: 70%;
    background-color: #000;
    position: absolute;
    z-index: 1000;
}

div.keyboard ul li.key.white.pressed {
    background: linear-gradient(
      rgba(0, 0, 0, 0.1), 
      rgba(0, 0, 0, 0.1)
    );
}

div.keyboard ul li.key.black.pressed {
    border: 1px solid lightgrey;
}
