<div class="col-md-8 main">
    <h1>Angular 2 musical instruments</h1>

    <div class="description-block">
        <p>
            Here we go. This app was made to discover some Web Audio API features.
            Also, this is my 'Hello World' in Angular 2 and Typescript worlds.
        </p>
        <p>
            Right now there are 3 instruments here: a simple monophonic synthesizer, a polyphonic one, both with a regular piano keyboard. 
            And "experimental" one, I call it a "plot synth".
        </p>
        <p class="additional-details">
            It's easy to hear that there are some bugs here: for example, I'm pretty sure that attack/release parameters don't work correctly.
            Anyway, later I will fix it when I add new parameters and concentrate on a sound process.
        </p>
    </div>

    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" [class.active]="activeTab == 'simple-synth'">
                <a role="tab" data-toggle="tab" [routerLink]="['/simple-synth']" (click)="setActiveTab('simple-synth')">Simple synth</a>
            </li>
            <li role="presentation" [class.active]="activeTab == 'polyphonic-synth'">
                <a role="tab" data-toggle="tab" [routerLink]="['/polyphonic-synth']" (click)="setActiveTab('polyphonic-synth')">Polyphonic synth</a>
            </li>
            <li role="presentation" [class.active]="activeTab == 'plot-synth'">
                <a role="tab" data-toggle="tab" [routerLink]="['/plot-synth']" (click)="setActiveTab('plot-synth')">Plot synth</a>
            </li>
        </ul>
    </div>

    <div class="synth-container">
        <router-outlet></router-outlet>
    </div>
</div>
