<div class="col-md-8 main">
    <h1>Angular 2 musical instruments</h1>

    <p>
        Here we go. This app was made to discover some Web Audio API features.
        Also, this is my 'Hello World' in Angular 2 and Typescript worlds.
    </p>
    <p>
        Right now there's only one instrument here: a simple monophonic synthesizer with a regular piano keyboard.
    </p>

    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" [class.active]="activeTab == 'simple-synth'">
                <a role="tab" data-toggle="tab" [routerLink]="['/simple-synth']" (click)="setActiveTab('simple-synth')">Simple synth</a>
            </li>
            <li role="presentation" [class.active]="activeTab == 'polyphonic-synth'">
                <a role="tab" data-toggle="tab" [routerLink]="['/polyphonic-synth']" (click)="setActiveTab('polyphonic-synth')">Polyphonic synth</a>
            </li>
        </ul>
    </div>

    <router-outlet></router-outlet>
</div>
