<div class="col-md-8 main">
    <h1>Angular 2 musical instruments</h1>

    <p>
        Here we go. This app was made to discover some Web Audio API features.
        Also, this is my 'Hello World' in Angular 2 and Typescript worlds.
    </p>
    <p>
        Right now there's only one instrument here: a simple monophonic synthesizer with a regular piano keyboard.
    </p>

    <tabset>
        <tab heading="Simple synth">
            <div class="synth-container">
                <simple-synth>Loading simple synth...</simple-synth>
            </div>
        </tab>
        <tab heading="Polyphonic synth">
            <div class="synth-container">
                Coming soon
            </div>
        </tab>
    </tabset>
</div>
