<div class="synth">
    <div class="control-panel settings-panel">
        <div class="panel-title">
            <label>settings pannel</label>
        </div>

        <div class="control-panel-block">
            <label>wave form:</label>
            <select [ngModel]="oscillator.type" (ngModelChange)="onWaveFormChange($event)" name="sel2">
                <option [value]="i" *ngFor="let i of availableWaveForms">{{i}}</option>
            </select>
        </div>

        <div class="control-panel-block wave-visualizer-container">
            <wave-visualizer [waveAnalyser]="waveAnalyzer"></wave-visualizer>
        </div>
    </div>
    <div class="control-panel sliders-panel">
        <div class="panel-title">
            <label>sliders pannel</label>
        </div>
        <div class="range-block">
            <label>level: </label>
            <input [(ngModel)]="volume" type="range" min="0" max="100" />
        </div>
        <div class="range-block">
            <label>release: </label>
            <input [(ngModel)]="release" type="range" min="0" max="100" />
        </div>
        <div class="range-block">
            <label>attack: </label>
            <input [(ngModel)]="attack" type="range" min="0" max="100" />
        </div>
    </div>

    <div class="keyboard">
        <ul>
            <li class="key white" (mousedown)="playSound(frequencies['C0'])" (mouseup)="muteSound(frequencies['C0'])"></li>
            <li class="key black" (mousedown)="playSound(frequencies['C#0'])" (mouseup)="muteSound(frequencies['C#0'])"></li>
            <li class="key white" (mousedown)="playSound(frequencies['D0'])" (mouseup)="muteSound(frequencies['D0'])"></li>
            <li class="key black" (mousedown)="playSound(frequencies['D#0'])" (mouseup)="muteSound(frequencies['D#0'])"></li>
            <li class="key white" (mousedown)="playSound(frequencies['E0'])" (mouseup)="muteSound()"></li>
            <li class="key white" (mousedown)="playSound(frequencies['F0'])" (mouseup)="muteSound()"></li>
            <li class="key black" (mousedown)="playSound(frequencies['F#0'])" (mouseup)="muteSound()"></li>
            <li class="key white" (mousedown)="playSound(frequencies['G0'])" (mouseup)="muteSound()"></li>
            <li class="key black" (mousedown)="playSound(frequencies['G#0'])" (mouseup)="muteSound()"></li>
            <li class="key white" (mousedown)="playSound(frequencies['A0'])" (mouseup)="muteSound()"></li>
            <li class="key black" (mousedown)="playSound(frequencies['A#0'])" (mouseup)="muteSound()"></li>
            <li class="key white" (mousedown)="playSound(frequencies['H0'])" (mouseup)="muteSound()"></li>
            <li class="key white" (mousedown)="playSound(frequencies['C1'])" (mouseup)="muteSound()"></li>
            <li class="key black" (mousedown)="playSound(frequencies['C#1'])" (mouseup)="muteSound()"></li>
            <li class="key white" (mousedown)="playSound(frequencies['D1'])" (mouseup)="muteSound()"></li>
            <li class="key black" (mousedown)="playSound(frequencies['D#1'])" (mouseup)="muteSound()"></li>
            <li class="key white" (mousedown)="playSound(frequencies['E1'])" (mouseup)="muteSound()"></li>
            <li class="key white" (mousedown)="playSound(frequencies['F1'])" (mouseup)="muteSound()"></li>
            <li class="key black" (mousedown)="playSound(frequencies['F#1'])" (mouseup)="muteSound()"></li>
            <li class="key white" (mousedown)="playSound(frequencies['G1'])" (mouseup)="muteSound()"></li>
            <li class="key black" (mousedown)="playSound(frequencies['G#1'])" (mouseup)="muteSound()"></li>
            <li class="key white" (mousedown)="playSound(frequencies['A1'])" (mouseup)="muteSound()"></li>
            <li class="key black" (mousedown)="playSound(frequencies['A#1'])" (mouseup)="muteSound()"></li>
            <li class="key white" (mousedown)="playSound(frequencies['H1'])" (mouseup)="muteSound()"></li>
            <li class="key white" (mousedown)="playSound(frequencies['C2'])" (mouseup)="muteSound()"></li>
            <li class="key black" (mousedown)="playSound(frequencies['C#2'])" (mouseup)="muteSound()"></li>
            <li class="key white" (mousedown)="playSound(frequencies['D2'])" (mouseup)="muteSound()"></li>
            <li class="key black" (mousedown)="playSound(frequencies['D#2'])" (mouseup)="muteSound()"></li>
            <li class="key white" (mousedown)="playSound(frequencies['E2'])" (mouseup)="muteSound()"></li>
            <li class="key white" (mousedown)="playSound(frequencies['F2'])" (mouseup)="muteSound()"></li>
            <li class="key black" (mousedown)="playSound(frequencies['F#2'])" (mouseup)="muteSound()"></li>
            <li class="key white" (mousedown)="playSound(frequencies['G2'])" (mouseup)="muteSound()"></li>
            <li class="key black" (mousedown)="playSound(frequencies['G#2'])" (mouseup)="muteSound()"></li>
            <li class="key white" (mousedown)="playSound(frequencies['A2'])" (mouseup)="muteSound()"></li>
            <li class="key black" (mousedown)="playSound(frequencies['A#2'])" (mouseup)="muteSound()"></li>
            <li class="key white" (mousedown)="playSound(frequencies['H2'])" (mouseup)="muteSound()"></li>
        </ul>
    </div>
</div>