<div class="synth">
    <div class="control-panel settings-panel">
        <div class="panel-title">
            <label>Settings pannel</label>
        </div>
    </div>
    <div class="control-panel sliders-panel">
        <div class="panel-title">
            <label>Sliders pannel</label>
        </div>
        <div class="range-block">
            <label>Label: </label>
            <input type="range" min="0" max="50" />
        </div>
        <div class="range-block">
            <label>Label: </label>
            <input type="range" min="0" max="50" />
        </div>
        <div class="range-block">
            <label>Label: </label>
            <input type="range" min="0" max="50" />
        </div>
    </div>
    <div class="keyboard">
        <ul>
            <li class="key white" (mousedown)="playSound(frequencies['C0'])" (mouseup)="muteSound()"></li>
            <li class="key black" (mousedown)="playSound(frequencies['C#0'])" (mouseup)="muteSound()"></li>
            <li class="key white" (mousedown)="playSound(frequencies['D0'])" (mouseup)="muteSound()"></li>
            <li class="key black" (mousedown)="playSound(frequencies['D#0'])" (mouseup)="muteSound()"></li>
            <li class="key white" (mousedown)="playSound(frequencies['E0'])" (mouseup)="muteSound()"></li>
            <li class="key white" (mousedown)="playSound(frequencies['F0'])" (mouseup)="muteSound()"></li>
            <li class="key black" (mousedown)="playSound(frequencies['F#0'])" (mouseup)="muteSound()"></li>
            <li class="key white" (mousedown)="playSound(frequencies['G0'])" (mouseup)="muteSound()"></li>
            <li class="key black" (mousedown)="playSound(frequencies['G#0'])" (mouseup)="muteSound()"></li>
            <li class="key white" (mousedown)="playSound(frequencies['A0'])" (mouseup)="muteSound()"></li>
            <li class="key black" (mousedown)="playSound(frequencies['A#0'])" (mouseup)="muteSound()"></li>
            <li class="key white" (mousedown)="playSound(frequencies['H0'])" (mouseup)="muteSound()"></li>
            <li class="key white" (mousedown)="playSound(frequencies['C1'])" (mouseup)="muteSound()"></li>
            <li class="key black" (mousedown)="playSound(frequencies['C#1'])" (mouseup)="muteSound()"></li>
            <li class="key white" (mousedown)="playSound(frequencies['D1'])" (mouseup)="muteSound()"></li>
            <li class="key black" (mousedown)="playSound(frequencies['D#1'])" (mouseup)="muteSound()"></li>
            <li class="key white" (mousedown)="playSound(frequencies['E1'])" (mouseup)="muteSound()"></li>
            <li class="key white" (mousedown)="playSound(frequencies['F1'])" (mouseup)="muteSound()"></li>
            <li class="key black" (mousedown)="playSound(frequencies['F#1'])" (mouseup)="muteSound()"></li>
            <li class="key white" (mousedown)="playSound(frequencies['G1'])" (mouseup)="muteSound()"></li>
            <li class="key black" (mousedown)="playSound(frequencies['G#1'])" (mouseup)="muteSound()"></li>
            <li class="key white" (mousedown)="playSound(frequencies['A1'])" (mouseup)="muteSound()"></li>
            <li class="key black" (mousedown)="playSound(frequencies['A#1'])" (mouseup)="muteSound()"></li>
            <li class="key white" (mousedown)="playSound(frequencies['H1'])" (mouseup)="muteSound()"></li>
            <li class="key white" (mousedown)="playSound(frequencies['C2'])" (mouseup)="muteSound()"></li>
            <li class="key black" (mousedown)="playSound(frequencies['C#2'])" (mouseup)="muteSound()"></li>
            <li class="key white" (mousedown)="playSound(frequencies['D2'])" (mouseup)="muteSound()"></li>
            <li class="key black" (mousedown)="playSound(frequencies['D#2'])" (mouseup)="muteSound()"></li>
            <li class="key white" (mousedown)="playSound(frequencies['E2'])" (mouseup)="muteSound()"></li>
            <li class="key white" (mousedown)="playSound(frequencies['F2'])" (mouseup)="muteSound()"></li>
            <li class="key black" (mousedown)="playSound(frequencies['F#2'])" (mouseup)="muteSound()"></li>
            <li class="key white" (mousedown)="playSound(frequencies['G2'])" (mouseup)="muteSound()"></li>
            <li class="key black" (mousedown)="playSound(frequencies['G#2'])" (mouseup)="muteSound()"></li>
            <li class="key white" (mousedown)="playSound(frequencies['A2'])" (mouseup)="muteSound()"></li>
            <li class="key black" (mousedown)="playSound(frequencies['A#2'])" (mouseup)="muteSound()"></li>
            <li class="key white" (mousedown)="playSound(frequencies['H2'])" (mouseup)="muteSound()"></li>
        </ul>
    </div>
</div>